* {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

li, a{
  font-family: Arial;
  font-size: 120%;
  color: #edf0f1;
  text-decoration: none;
}

li a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #FFFFFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
  position: relative;
  z-index: 1;
  left: 0;
}

header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  float: right;
  position: relative;
  z-index: 30;
  padding-top: 2%;
  padding-right: 1%;
  padding-left: 10px;
}

.logo {
  margin-top: -2%;
  margin-left: -2%;
  position: relative;
  cursor: pointer;
}

.navbar_links {
  list-style: none;
}

.navbar_links li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar_links li a {
  transition: all 0.4s ease 0s;
}

.navbar_links li a:hover {
  color: #49b6f9;
}

.heading {
  font-family: Arial;
  font-size: 400%;
  color: #000000;
  position: relative;
  background-color: #edf0f1;
}

.text_heading {
  font-family: Arial;
  font-size: 180%;
  position: relative;
  padding-bottom: 1%;
  color: #000000;
  background-color: #edf0f1;
}

.text_regular {
  font-family: Arial;
  position: relative;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
}

.footer {
  font-family: Arial;
  position: relative;
  z-index: 5;
  font-size:100%;
  padding-left: 1%;
  top: -25px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  height: 0px;
}

.connect {
  position: relative;
  z-index: 0;
  width: 50px;
  height: 50px;
  margin-bottom: -90px;
}

footer {
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: #000000;
  height: 0px;
}
