* {

  margin: 0;
  padding: 0;
  background-color: #000000;
}

li, a{
  font-family: Monaco;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  float: right;
  padding: 30px 10px;
}

.navbar_links {
  list-style: none;
}

.navbar_links li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar_links li a {
  transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
  color: #0088a9
}
